



<div class="card text-white bg-primary mb-3" style="max-width: 18rem;">
  <div class="card-header">Ingreso</div>
  <div class="card-body">


    <p><h1> $ #{valorI}</h1></p>
  </div>
</div>
<div class="card text-white bg-danger mb-3" style="max-width: 18rem;">
  <div class="card-header">Egreso</div>
  <div class="card-body">
   

    <p class="card-text">  <h1> $ #{valorE}</h1></p>
  </div>
</div>


<div class="card border-primary mb-3" style="max-width: 18rem;">
  <div class="card-header">Total:</div>
  <div class="card-body text-primary">
    <h1>$ #{valorT}</h1>
  </div>
</div>




